body {
  background-color: green;
}

header {
  text-align: center;
}

section {
  height: 484px;
}
.row1 {
  height: 242px;
}

.row2 {
  height: 242px
}

.col {
  height: 242px;
}

#faceDown {
  background-color: black;
}

.press {
  height: 100px;
  text-align: center;
  padding-top: 30px;
}

.name {
  height: 100px;
}


footer {
  height: 100px;
}
