body {
  background-color: green;
}

header {
  text-align: center;
}

section {
  height: 484px;
}
.row1 {
  height: 242px;
}

.row2 {
  margin-top: 12px;
  height: 242px
}

.col1, .col2 {
  height: 242px;
  border-radius: 10px;
}

#faceDown {
  background-color: black;
}

img {
  border-radius: 10px;
}

.press {
  height: 120px;
  text-align: center;
  padding-top: 30px;
}

.name {
  height: 120px;
}

footer {
  height: 120px;
  margin-top: 12px;
}
